<% content_for :title, t('.title') %>

<% unless current_user.profile_complete? %>
  <div>
    <%= t('.profile_completeness.message') %>
    <%= link_to t('.profile_completeness.link'), edit_user_path(current_user) %>
  </div>
<% end %>

<% if @attendances.any? %>
  <h2><%= t('.attendances.title') %></h2>

  <% @attendances.each do |attendance| %>
    <div>
      <p><%= attendance.calendar_event.summary %></p>

      <% if attendance.new_record? %>
        <%= button_to t('.calendar_events.attendance.submit'), calendar_event_attendance_attendance_path(attendance.calendar_event), method: :post, class: 'btn btn-primary' %> 
      <% end %>
    </div>
  <% end %>
<% end %>

<h2><%= t('.calendar.title') %></h2>

<p><%= t('.calendar.description') %></p>

<% @calendar_events.each do |calendar_event| %>
  <div class="my-5 border-solid border-primary border-2">
    <p class="font-bold"><%= calendar_event.summary %></p>
    <p><%= calendar_event_time_string(calendar_event) %></p>
    <p><%= time_ago_in_words(calendar_event.starts_at, scope: 'datetime.distance_in_words.in_duration') %></p>
    <p class="mt-5"><%= calendar_event.location %></p>
    <div class="my-5">
      <%= simple_format calendar_event.description %>
    </div>

    <% unless Attendance.where(calendar_event:, user: current_user).exists? %>
      <%= link_to t('.calendar_events.attendance.new'), new_calendar_event_attendance_excuse_path(calendar_event) %>
    <% end %>
  </div>
<% end %>

<% if policy(:calendar_sync).create? %>
  <%= button_to t('.calendar_events.sync'), calendar_events_syncs_path, method: :post, class: 'btn btn-primary' %>
<% end %>
