<%= turbo_frame_tag @user do %>
  <%= image_tag @user.profile_picture.variant(:medium), class: "w-full h-full object-cover object-bottom" %>
  <div class="flex flex-col gap-2 mt-2">
    <% if @user.register.present? %>
      <p class="absolute rounded-md top-2 left-2 register-<%= @user.canonical_register %> border-2 border-white font-semibold text-sm px-2 py-1 flex items-center">
        <span><%= human_register(@user.register) %></span>
      </p>
    <% end %>
    <p class="font-semibold text-lg leading-tight"><%= @user.full_name %></p>
  </div>
<% end %>
