<%= render 'errors', model: @song_list_item %>

<%= form_for [@song_list_item.song_list, @song_list_item] do |f| %>
  <%= f.hidden_field :song_list_id %>

  <div class="form-field">
    <p>
      <%= f.label :name %>
      <%# i18n-tasks-use t('activerecord.attributes.song_list_item.name') %>
    </p>

    <p><%= f.text_field :name %></p>

    <p class="field-hint"><%= t('.name.hint') %></p>
  </div>

  <div class="form-field">
    <p>
      <%= f.label :song %>
      <%# i18n-tasks-use t('activerecord.attributes.song_list_item.song') %>
    </p>

    <%= f.select :song_id, song_list_item_song_options, include_blank: true %>
    <p class="field-hint"><%= t('.song.hint') %></p>
  </div>

  <div class="form-field">
    <p>
      <%= f.label :notes %>
      <%# i18n-tasks-use t('activerecord.attributes.song_list_item.notes') %>
    </p>
    <p><%= f.text_area :notes %></p>
  </div>

  <p>
    <%= f.submit class: 'btn btn-primary' %>
    <%# i18n-tasks-use t('helpers.submit.song_list_item.create') %>
  </p>
<% end %>
