<% if @year %>
  <% content_for :title, t('.year_title', year: choir_year_string(@year)) %>

  <div class="float-right">
    <%= link_to statistics_attendance_path(year: @year - 1) do %>
      <%= tabler_icon 'arrow_left', classes: ['inline', 'align-[sub]'] %>
      <%= t('.choir_year_link', year: choir_year_string(@year - 1)) %>
    <% end %>
    |
    <%= link_to statistics_attendance_path(year: @year + 1) do %>
      <%= t('.choir_year_link', year: choir_year_string(@year + 1)) %>
      <%= tabler_icon 'arrow_right', classes: ['inline', 'align-[sub]'] %>
    <% end %>
  </div>
<% else %>
  <% content_for :title, t('.timeframe_title', from: @timeframe_from, to: @timeframe_to) %>
<% end %>

<% if @timeframe_from.nil? || @timeframe_to.nil? %>
  <div class="alert">
    <% if @timeframe_from.nil? %>
      <p><%= t('.error.start_date_undefined') %></p>
    <% end %>

    <% if @timeframe_to.nil? %>
      <p><%= t('.error.end_date_undefined') %></p>
    <% end %>
  </div>
<% else %>
  <h2><%= t('.calendar_events.title') %></h2>

  <table>
    <tbody>
      <% CalendarEvent::CATEGORIES.each do |category| %>
        <tr><td><%= t(".calendar_events.category.#{category}") %></td><td><%= @calendar_events_by_category[category].try(:count) || 0 %></td></tr>
      <% end %>
      <tfoot>
        <tr>
          <th><%= t('.calendar_events.total') %></th><td><%= @calendar_events_by_category.values.sum(&:count) %></td>
        </tr>
      </tfoot>
    </tbody>
  </table>

  <h2><%= t('.attendance.title') %></h2>

  <table>
    <thead>
      <tr>
        <td colspan="3"></td>
        <td colspan="3"><%= t('.header.status') %></td>
        <td colspan="2"><%= t('.header.attendance') %></td>
      </tr>
      <tr class="sticky top-0">
        <th></th>
        <th></th>
        <th><%= t('.header.active_count') %></th>
        <th><%= t('.header.status_attended') %></th>
        <th><%= t('.header.status_excused') %></th>
        <th><%= t('.header.status_unknown') %></th>
        <th><%= t('.header.percentage_active_attended') %></th>
        <th><%= t('.header.percentage_overall_attended') %></th>
      </tr>
    </thead>
    <tbody>
      <% last_overall_percentage = nil %>
      <% @year_statistics_table.sorted_users.each.with_index do |user, index| %>
        <% rank = index + 1 %>
        <% overall_percentage = @year_statistics_table.overall_percentage(user, Attendance::STATUS_ATTENDED) %>
        <tr>
          <td>
            <% if overall_percentage != last_overall_percentage %>
              <%= rank %>.
            <% end %>
          </td>
          <td class="font-semibold"><%= user.full_name %></td>
          <td><%= @year_statistics_table.active_count(user) %></td>
          <td><%= @year_statistics_table.count(user, Attendance::STATUS_ATTENDED) %></td>
          <td><%= @year_statistics_table.count(user, Attendance::STATUS_EXCUSED) %></td>
          <td><%= @year_statistics_table.count(user, Attendance::STATUS_UNKNOWN) %></td>
          <td><%= number_to_percentage @year_statistics_table.active_percentage(user, Attendance::STATUS_ATTENDED), precision: 0 %></td>
          <td><%= number_to_percentage overall_percentage, precision: 0 %></td>
        </tr>
        <% last_overall_percentage = overall_percentage %>
      <% end %>
    </tbody>
  </table>
<% end %>
