<% content_for :title, t('.title') %>

<h2><%= t('.attendance_tally') %></h2>
<table>
  <thead>
    <th></th>
    <% @attendance_tally_table.calendar_events.each do |ce| %>
      <th><%= ce.date %></th>
    <% end %>
  </thead>
  <tbody>
    <% @attendance_tally_table.registers.each do |r| %>
      <tr>
        <th scope="row"><%= t(".#{r}") %></th>
        <% @attendance_tally_table.calendar_events.each do |ce| %>
          <td><%= number_to_percentage @attendance_tally_table.register_percentages(ce)[r], precision: 0 %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th scope="row"><%= t('.total') %></th>
    <% @attendance_tally_table.calendar_events.each do |ce| %>
      <td><%= number_to_percentage @attendance_tally_table.total_percentage(ce), precision: 0 %></td>
    <% end %>
  </tfoot>
</table>

<%= line_chart @attendance_tally_table.chart_data %>

<h2><%= t('.name_guesses.title') %></h2>
<%= column_chart @name_guess_counts %>
