<% content_for :title, t('.title') %>

<h2><%= t('.name_guesses') %></h2>

<h3><%= t('.name_guesses.correct_counts') %></h3>
<%= column_chart @correct_counts %>

<h3><%= t('.name_guesses.incorrect_counts') %></h3>
<%= column_chart @incorrect_counts %>
