<% content_for :title, t('.title') %>

<%= render 'errors', model: @attendance %>

<%= form_for @attendance, url: calendar_event_attendance_excuse_path(@attendance.calendar_event) do |f| %>
  <p>
    <%= f.label :calendar_event %>: <%= render 'application/calendar_event', calendar_event: @attendance.calendar_event %> <%# i18n-tasks-use t('activerecord.attributes.attendance.calendar_event') %> 
  </p>

  <p>
    <%= f.label t('.excuse'), for: :attendance_remarks %>
    <%= f.text_area :remarks %>
  </p>

  <%= f.submit t('.submit'), class: 'btn btn-primary' %>
<% end %>
