<% content_for :title, t('.title') %>

<% if policy(User).new? %>
  <%= link_to t('.new'), new_user_path, class: 'btn btn-primary' %>
<% end %>

<%= link_to(request.query_parameters.merge(format: :xlsx), {class: 'float-right'}) do %>
  <%= tabler_icon 'file_spreadsheet', classes: ['inline'] %> <%= t('.excel_export') %>
<% end %>

<p>
  <% UsersController::QUERY_PARAM_FILTER_VALUES.each do |value| %>
    <% if params[:filter] != value %>
      <%= link_to request.query_parameters.merge(filter: value), {class: 'mr-2'} do %>
        <%= icon_for_user_filter(value) %><%= t(".filter.#{value}") %>
      <% end %>
    <% else %>
      <b class="mr-2"><%= icon_for_user_filter(value) %><%= t(".filter.#{value}") %></b>
    <% end %>
  <% end %>
</p>

<table>
  <thead>
    <tr class="sticky top-0">
      <th><%= t('.profile_complete') %></th>
      <th><%= t('.face_picture') %></th>
      <th><%= link_to t('.first_name'), request.query_parameters.merge(order: :first_name) %></th>
      <th><%= link_to t('.last_name'), request.query_parameters.merge(order: :last_name) %></th>
      <th><%= t('.email') %></th>
      <th><%= link_to t('.register'), request.query_parameters.merge(order: :register) %></th>
      <th><%= t('.roles') %></th>
      <th><%= t('.status') %></th>
      <% if current_user.roles_wrapper.app? %>
        <th><%= t('.sessions') %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="register-<%= user.canonical_register %>">
        <td>
          <%= boolean_emoji(user.profile_complete?) %>
        </td>
        <td>
          <% if user.face_picture.present? %>
            <%= image_tag(user.face_picture.variant(:thumb)) %>
          <% end %>
        </td>
        <td>
          <%= user.first_name %>
        </td>
        <td>
          <%= user.last_name %>
        </td>
        <td>
          <%= mail_to user.email %>
        </td>
        <td>
          <%= user.human_register %>
        </td>
        <td>
          <ul>
            <% user.roles_wrapper.roles.each do |role| %>
              <li><%= role.human_name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= icon_for_user_status(user.current_status.try(:status)) %>
          <%= user.current_human_status %>
        </td>
        <% if current_user.roles_wrapper.app? %>
          <td>
            <%= user.passwordless_sessions.available.count %>
          </td>
        <% end %>
        <td>
          <% if policy(user).edit? %>
            <%= link_to t('.edit'), edit_user_path(user), class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
