<% content_for :title, t('.title') %>

<% if policy(User).new? %>
  <%= link_to t('.new'), new_user_path, class: 'btn btn-primary' %>
<% end %>

<%= link_to({format: :xlsx}, {class: 'float-right'}) do %>
  <%= tabler_icon 'file_spreadsheet', classes: ['inline'] %> <%= t('.excel_export') %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('.profile_complete') %></th>
      <th><%= t('.face_picture') %></th>
      <th><%= link_to t('.name'), order: :first_name %></th>
      <th><%= t('.email') %></th>
      <th><%= link_to t('.register'), order: :register %></th>
      <th><%= t('.roles') %></th>
      <th><%= t('.status') %></th>
      <% if current_user.roles_wrapper.app? %>
        <th><%= t('.sessions') %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="register-<%= user.register_object.canonical_register %>">
        <td>
          <%= boolean_emoji(user.profile_complete?) %>
        </td>
        <td>
          <% if user.face_picture.present? %>
            <%= image_tag(user.face_picture.variant(:thumb)) %>
          <% end %>
        </td>
        <td>
          <%= user.full_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.human_register %>
        </td>
        <td>
          <ul>
            <% user.roles_wrapper.roles.each do |role| %>
              <li><%= role.human_name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= user.human_status %>
        </td>
        <% if current_user.roles_wrapper.app? %>
          <td>
            <%= user.passwordless_sessions.available.count %>
          </td>
        <% end %>
        <td>
          <% if policy(user).edit? %>
            <%= link_to t('.edit'), edit_user_path(user), class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
