<div class="float-right">
  <% previous_event = @calendar_event.previous %>
  <%= link_to_if previous_event.present?, t('.previous'), previous_event %>
  <% next_event = @calendar_event.next %>
  <%= link_to_if next_event.present?, t('.next'), next_event %>
</div>

<% content_for :title, @calendar_event.summary %>

<%= render @calendar_event %>

<% @calendar_event.attendance_statuses.each do |status, attendances| %>
  <h2><%= icon_for_status(status) %> <%= I18n.t("activerecord.attributes.attendance.enums.status.#{status}") %> (<%= attendances.count %>)</h2>

  <div class="table-scroll">
    <table class="table-wide">
      <tbody id="<%= "attendances-#{status}" %>">
        <% attendances.sort_by { |a| a.user.register_object }.each do |attendance| %>
          <%= render 'attendance_row', attendance:, status: %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
