<% if @song.song_media.recording.any? %>
  <%= content_tag :div, data: {controller: 'score', 'score-url-value': url_for(@song.score.file), 'score-metadata-value': @song.score.metadata, 'score-delay-in-milliseconds-value': 200} do %>
    <% @song.song_media.recording.each do |recording| %>
      <div class="flex my-5">
        <strong class="w-1/6">
          <% if recording.human_register.present? %>
            <%= recording.human_register %>
          <% else %>
            <%= t('.all_registers') %>
          <% end %>
        </strong>
  
        <%= audio_tag url_for(recording.file), class: 'w-5/6', controls: true, preload: 'none', data: {'score-target': 'audioTag', 'action': 'seeked->score#update'} %>
      </div>
    <% end %>

    <%= content_tag :div, nil, class: "relative left-1/2 w-dvw max-w-none -translate-x-1/2", data: {'score-target': 'score'} %>
  <% end %>
<% end %>
