<% content_for :title, t('.title') %>

<% if policy(Song).new? %>
  <%= link_to t('.new'), new_song_path, class: 'btn btn-primary' %>
<% end %>

<%= form_with url: songs_path, method: :get do |form| %>
  <%= form.select :language, Song.distinct.pluck(:language), { include_blank: true } %>
  <%= submit_tag 'Apply', class: 'btn btn-primary' %>
<% end %>

<table>
  <thead>
    <tr class="sticky top-0">
      <th><%= t('activerecord.attributes.song.title') %></th>
      <th><%= t('activerecord.attributes.song.composer') %></th>
      <th><%= t('activerecord.attributes.song.arranger') %></th>
      <th><%= t('activerecord.attributes.song.registers') %></th>
      <th><%= t('activerecord.attributes.song.repertoire') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= link_to song.title, song %>
        </td>
        <td>
          <%= song.composer %>
        </td>
        <td>
          <%= song.arranger %>
        </td>
        <td>
          <%= register_string(song.registers) %>
        </td>
        <td>
          <%= boolean_emoji(song.repertoire?) %>
        </td>
        <td>
          <% if policy(song).edit? %>
            <%= link_to t('.edit'), edit_song_path(song), class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <% if policy(song).destroy? %>
            <%= button_to t('.destroy'), song_path(song), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
