<% content_for :title, @song.title %>

<% if @song.song_media.any? %>
  <%= render 'download_dropdown' %>
<% end %>

<p>
  <b><%= t('activerecord.attributes.song.composer') %></b>
  <%= @song.composer %>
</p>

<p>
  <b><%= t('activerecord.attributes.song.arranger') %></b>
  <%= @song.arranger %>
</p>

<% if @song.score.present? %>
  <% if policy(@song.score).edit? %>
    <%= link_to t('.score.edit'), edit_song_score_path(@song), class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <% if policy(Score.new).create? %>
    <%= link_to t('.score.new'), new_song_score_path(@song), class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= render 'score' %>

<p>
  <b><%= t('activerecord.attributes.song.lyrics') %></b>
  <%= simple_format @song.lyrics, class: 'mb-3' %>
</p>

<p><b><%= t('activerecord.attributes.song.genres') %></b></p>

<% if policy(@song).edit? %>
  <%= link_to t('.edit'), edit_song_path(@song), class: 'btn btn-primary' %>
<% end %>

<% if policy(@song).destroy? %>
  <%= button_to t('.destroy'), song_path(@song), method: :delete, class: 'btn btn-danger', form_class: 'inline' %>
<% end %>

<% if policy(:song_medium).create? %>
  <h2><%= t('.song_media.title') %></h2>
  <% if policy(:song_medium).create? %>
    <%= link_to t('.song_media.new'), new_song_song_medium_path(@song), class: 'btn btn-primary' %>
  <% end %>
  <% if @song.song_media.any? %>
    <table>
      <thead>
        <th></th>
        <th><%= t('.song_media.kind') %></th>
        <th><%= t('.song_media.register') %></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>

      <tbody>
        <% @song.song_media.each do |song_medium| %>
          <tr>
            <td><%= file_icon(song_medium.file) %></td>

            <td>
              <%= song_medium.human_kind %>
            </td>

            <td><%= song_medium.human_register %></td>

            <td>
              <% if policy(song_medium).destroy? %>
                <%= button_to t('.song_media.destroy'), song_song_medium_path(song_medium.song, song_medium), method: :delete, class: 'btn btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
