<%= render 'errors', model: @song_list %>

<%= form_for @song_list do |f| %>
  <div class="form-field">
    <p>
      <%= f.label :name %>
      <%# i18n-tasks-use t('activerecord.attributes.song_list.name') %> *
    </p>

    <p><%= f.text_field :name %></p>
  </div>

  <div class="form-field">
    <p>
      <%= f.label :status %>
      <%# i18n-tasks-use t('activerecord.attributes.song_list.status') %> *
    </p>

    <%= f.select :status, song_list_status_options %>

    <p class="field-hint"><%= t('.status.hint') %></p>
  </div>

  <p><%= f.submit class: 'btn btn-primary' %></p>

  <%# i18n-tasks-use t('helpers.submit.song_list.create') %>
  <%# i18n-tasks-use t('helpers.submit.song_list.update') %>
<% end %>

<% unless @song_list.new_record? %>
  <%= render 'program_form' %>
<% end %>
