<p class='mb-4'>
  <%= t('.explanation') %>
</p>

<%= image_tag(@name_guess.guessee.face_picture, class: 'w-60') %>

<%= form_for @name_guess do |f| %>
  <%= f.hidden_field :guessee_id %>

  <div class='form-field mt-4'>
    <p><%= f.label :guess %></p> <%# i18n-tasks-use t('helpers.label.name_guess.guess') %></p>
    <p><%= f.text_field :guess, autofocus: true, autocomplete: 'off' %></p>
  </div>

  <p><%= f.submit t('helpers.submit.guess.create'), class: 'btn btn-primary' %>
<% end %>
