<nav class='bg-primary text-white fixed top-0 z-10 w-full'>
  <div data-controller='visibility' class='container flex justify-between flex-wrap mx-auto'>
    <div>
      <%= link_to image_tag(logo_path, class: 'w-12'), root_path %>
    </div>

    <button data-action='visibility#toggleTargets' type='button' class='inline-flex justify-end p-2 ml-3 text-sm md:hidden focus:outline-none focus:ring-gray-200' aria-controls='navbar-default' aria-expanded='false'>
      <svg class='w-6 h-6' aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd'></path></svg>
    </button>

    <div data-visibility-target='hideable' hidden class='w-full md:block md:w-auto' id='navbar-default'>
      <ul class='flex flex-col p-4 mt-4 list-none md:flex-row md:space-x-4 md:mt-0 md:text-sm md:font-medium'>
        <% if logged_in? %>
          <% if policy(:user).index? %>
            <li><%= link_to t('.users'), users_path %></li>
          <% end %>
          <% if policy(:attendance).index? %>
            <li><%= link_to t('.attendances'), attendances_path %></li>
          <% end %>
          <li><%= link_to t('.logout'), users_sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('.login'), users_sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
