<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class='flex flex-col justify-between h-screen'>
    <div>
      <%= render 'layouts/navbar' %>

      <main class='container mx-auto px-6 md:px-24 my-20'>
        <%= render 'layouts/flashes' %>

        <h1><%= content_for(:title) %></h1>

        <%= yield %>
      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
